<br><br>

<div>
  <p class="judul">Promo Terkini</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <br>
      <div class="card" style="width: 26rem;">
        <img class="card-img-top" src="/images/kamar3.jpg" alt="Kamar">
        <div class="card-body">
          <h6 class="card-title"><b>Promo Hut RI Ke 74</b></h6>
          <p class="card-text">Promo HUT RI Periode : 15-20 Agustus</p>
          <a href="#" class="btn btn-primary" style="float: right;">Lebih Detail</a>
        </div>
      </div>
      <br>
    </div>
    <div class="col-sm-4">
     <br>
     <div class="card" style="width: 26rem;">
      <img class="card-img-top" src="/images/kamar3.jpg" alt="Kamar">
      <div class="card-body">
        <h6 class="card-title"><b>Promo Hut RI Ke 74</b></h6>
        <p class="card-text">Promo HUT RI Periode : 15-20 Agustus</p>
        <a href="#" class="btn btn-primary" style="float: right;">Lebih Detail</a>
      </div>
    </div>
    <br>
  </div>
  <div class="col-sm-4">
    <br>
    <div class="card" style="width: 26rem;">
      <img class="card-img-top" src="/images/kamar3.jpg" alt="Kamar">
      <div class="card-body">
        <h6 class="card-title"><b>Promo Hut RI Ke 74</b></h6>
        <p class="card-text">Promo HUT RI Periode : 15-20 Agustus</p>
        <a href="#" class="btn btn-primary" style="float: right;">Lebih Detail</a>
      </div>
    </div>
    <br>
  </div>
</div>
</div>

<div>
  <p class="judul">Kota Populer</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <br>
        <div class="card" style="width: 55rem;">
          <img class="card-img-top" src="/images/jakarta.jpg" alt="Kamar" style="height:300px;">
        </div>
        <br>
      </div>
      <div class="col-sm-4">
       <br>
       <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="/images/bandung.jpg" alt="Kamar" style="height: 300px">
      </div>
      <br> 
    </div>
    <div class="col-sm-8">
      <br>
      <div class="card" style="width: 55rem;">
        <img class="card-img-top" src="/images/bali.jpg" alt="Kamar" style="height:300px;">
      </div>
      <br>
    </div>
    <div class="col-sm-4">
     <br>
     <div class="card" style="width: 30rem;">
      <img class="card-img-top" src="/images/yogyakarta.jpg" alt="Kamar" style="height: 300px">
    </div>
    <br>
  </div>
</div>
</div>